*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #3d3f41;
  background: linear-gradient(132deg, #3d3f41 6%, #384a52 61%, #4a4c4e 95%);
  font-family: "Lato", sans-serif;
  padding: 100px 20px;
}
#audioPlayer{
  padding: 25px 15px;
  max-width : 360px;
  background : linear-gradient(155deg, rgba(21,24,27,255) 6%, rgb(34 45 50) 61%, rgba(41,52,58,255) 95%);
  border-radius: 25px;
  color: #f1f1f1;
  user-select: none;

}

#thumb {
  width: 95% ;
  margin: auto;
  height: 255px;
}
#thumb img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 3px 48px rgba(0, 0, 0);
}
#title , #trackBar , #controls {
  padding: 20px 50px;
}
p {
  font-family: "lato" , serif;
}
.title-name {
  font-weight: 600;
  font-size: 30px;
}
.artist-name , #trackBar {
  color: rgba(74,76,78,255);
}
.order-list {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}
.track {
  position: relative;
  height: 6px;
  background: rgba(74,76,78,255);
  cursor: pointer;
  border-radius: 15px;
}
.track .progressBar{
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(99deg, #3b6c6d , #96fafc 100%);
}
#controls {
  display: flex;
  justify-content: flex-start;
}
#controls img {
  width: 25px;
}
button {
  background: transparent;
  border: none;
}
#play {
  background-color: #96fafc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 12px;
  margin-right: 12px;
}
#play img {
  width: 40px;
}
#shuffle + div {
  margin-left: 15%;
}
/* animation */
#shuffle.active {
  animation: fadeIn 200ms ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 350px) {
  #title, #trackBar, #controls {
    padding: 20px 10px;
}
body {
  padding: 0;
}
#audioPlayer {
  min-height: 100vh;
  border-radius: 0;
}
#shuffle + div {
  margin-left: auto;
}
}